<html>
<head>
    <link rel='stylesheet' href='css/main.css' type='text/css'/>
    <meta charset='utf-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1'/>
    <link rel='stylesheet' href='css/bootstrap.min.css'>
    <link href='js/jquery.bootgrid.css' rel='stylesheet'>
    <script src='js/jquery-3.1.1.js'></script>
	<!--   <script src='js/jquery.slimscroll.js'></script> -->
    <script src='js/angular.js'></script>
    <script src='js/angular-route.min.js'></script>
    <script src='js/ui-bootstrap-tpls-1.1.1.min.js'></script>
    <script src='js/bootstrap-3.3.7.js'></script>
    <script src='cjs/teledashboard.js'></script>
    <script src='js/socket.io.js'></script>
    <style type='text/css'>
        #footer {
            position: fixed;
            width: 100%;
            bottom: 0;
            left: 0;
            text-align: center;
            height: 20px;
            background: #E6E4E4;
        }
        .input-group .icon-addon .form-control {
            border-radius: 0;
        }
        .icon-addon {
            position: relative;
            color: #555;
            display: block;
        }
        .icon-addon:after,
        .icon-addon:before {
            display: table;
            content: ' ';
        }
        .icon-addon:after {
            clear: both;
        }
        .icon-addon.addon-md .glyphicon,
        .icon-addon .glyphicon,
        .icon-addon.addon-md .fa,
        .icon-addon .fa {
            position: absolute;
            z-index: 2;
            left: 10px;
            font-size: 14px;
            margin-left: -2.5px;
            text-align: center;
            padding: 10px 0;
            top: 1px
        }
        .icon-addon.addon-lg .form-control {
            line-height: 1.33;
            height: 30px;
            font-size: 13px;
            padding: 10px 16px 10px 40px;
        }
        .icon-addon.addon-lg .fa,
        .icon-addon.addon-lg .glyphicon {
            font-size: 13px;
            margin-left: 0;
            left: 11px;
            top: -1px;
            color: #512e90;
        }
    </style>
	
</head>

<body ng-app='datamasterApp' ng-controller='datamasterController'>
    <div class="wrapper">
        <div ng-include="'mainmenu.html'"></div>
        <div class="content-wrapper" ng-init="getproductdetails();listareamaster();callonload()">
            <div class="page-title">
                <div>
                    <h1><i class='fa fa-dashboard'></i> Data Master</h1></div>
                <div><a href='' data-toggle='modal' data-target='#myModalAdd' class='btn btn-primary btn-flat'><i class='fa fa-lg fa-plus'></i> <b>ADD</b></a></div>
            </div>
            <div class="modal modal-overlay" id="myModalAdd" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content" >
                        <div class="modal-header" style="background-color:#512e90;color:white">
                            <button type="button" class="pull-right" data-dismiss="modal" style="background-color:#512e90;color:white">X</button>
                            <h4 class='modal-title' style='text-align:center'>ADD Data Master </h4> 
						</div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form" name="add_member">
								
                                <div class='row'>
                                    <div class='col-sm-6'>
									<span style="font-weight:bold" id="txt"></span>
										<label id="txt" >{{min}}:{{sec}}</label>
										
                                        <input type='text' class='form-control' ng-model='datamasteradd.name' />
                                    </div>
                                </div>
                                <div class='row'>
									<div class='col-sm-4'>
										<label >Address</label>
                                        <textarea class='form-control' ng-model='datamasteradd.address'></textarea>
                                    </div>
									<div class='col-sm-4'>
										<label>Nearest Railway Station</label>
										<input type="text" class="form-control" ng-model="datamasteradd.area" typeahead-template-url="listTpl.html" typeahead-editable="false" uib-typeahead="x as x.area for x in listareamasterdata | filter: $viewValue"  typeahead-on-select="onselectarea($item);"/>
										<script type="text/ng-template" id="listTpl.html">
											<table class=">
												<tr>
													<td>
														<div ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)">
															<a>{{match.model.area}}</a>
														</div>
													</td>
												</tr>
											</table>
										</script>
                                    </div>
									<div class='col-sm-4'>
										<label >Railway Line</label>
                                        <input type='text' class='form-control' ng-model='datamasteradd.route' readonly />
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='col-sm-6'>
										 <label>Mobile No. 1</label>
                                        <input type='number' class='form-control' ng-model='datamasteradd.mobileno1' maxlength="10" />
                                    </div>
									<div class='col-sm-6'>
										<label >Mobile No. 2</label>
                                        <input type='number' class='form-control' ng-model='datamasteradd.mobileno2' maxlength="10"/>
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='col-sm-6'>
										<label>Email 1</label>
                                        <input type='text' class='form-control' ng-model='datamasteradd.emailid1' />
                                    </div>
									<div class='col-sm-6'>
										<label>Email 2</label>
                                        <input type='text' class='form-control' ng-model='datamasteradd.emailid2' />
                                    </div>
                                </div>
								<div class='row'>
                                    <div class='col-sm-8'>
										<label>Monthly Income</label>
                                        <input type='number' class='form-control' ng-model='datamasteradd.monthlyincome' />
                                    </div>
                                </div>
								<div class="row" ng-repeat="x in getproductdetailsdata">
									<div class='col-sm-4'>
										<label>{{x.question}}</label>
                                    </div>
									<div class="col-sm-8">
										<input type='text' class='form-control' ng-model='x.answer' />
									</div>
								</div>
                            </form>
                        </div>
                        <div class='modal-footer'>
                            <div class='form-actions'>
                                <div class="row">
                                    <div class="col-lg-offset-6 col-lg-4">
                                        <input type='button' class='btn btn-primary' value='submit' ng-click='adddatamaster()'>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal modal-overlay" id="myModalEdit" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:#512e90;color:white">
                            <button type="button" class="pull-right" data-dismiss="modal" style="background-color:#512e90;color:white">X</button>
                            <h4 class='modal-title' style='text-align:center'>EDIT Data Master </h4> </div>
                        <div class='modal-body'>
                            <form class='form-horizontal' role='form' name='edit_member' ng-repeat='datamasteredit in getdatamasterdata'>
                                <div class='row'>
                                    <div class='col-sm-6'>
										<label >Name</label>
                                        <input type='text' class='form-control' ng-model='datamasteredit.name' />
                                    </div>
                                </div>
                                <div class='row'>
									<div class='col-sm-4'>
										<label >Address</label>
                                        <textarea class='form-control' ng-model='datamasteredit.address'></textarea>
                                    </div>
									<div class='col-sm-4'>
										<label>Nearest Railway Station</label>
										<input type="text" class="form-control" ng-model="datamasteredit.area" typeahead-template-url="listTpl.html" typeahead-editable="false" uib-typeahead="x as x.area for x in listareamasterdata | filter: $viewValue"  typeahead-on-select="onselectarea($item);"/>
										<script type="text/ng-template" id="listTpl.html">
											<table class=">
												<tr>
													<td>
														<div ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)">
															<a>{{match.model.area}}</a>
														</div>
													</td>
												</tr>
											</table>
										</script>
                                    </div>
									<div class='col-sm-4'>
										<label >Railway Line</label>
                                        <input type='text' class='form-control' ng-model='datamasteredit.route' readonly />
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='col-sm-6'>
										 <label>Mobile No. 1</label>
                                        <input type='number' class='form-control' ng-model='datamasteredit.mobileno1' maxlength="10" />
                                    </div>
									<div class='col-sm-6'>
										<label >Mobile No. 2</label>
                                        <input type='number' class='form-control' ng-model='datamasteredit.mobileno2' maxlength="10"/>
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='col-sm-6'>
										<label>Email 1</label>
                                        <input type='text' class='form-control' ng-model='datamasteredit.emailid1' />
                                    </div>
									<div class='col-sm-6'>
										<label>Email 2</label>
                                        <input type='text' class='form-control' ng-model='datamasteredit.emailid2' />
                                    </div>
                                </div>
								<div class='row'>
                                    <div class='col-sm-8'>
										<label>Monthly Income</label>
                                        <input type='number' class='form-control' ng-model='datamasteredit.monthlyincome' />
                                    </div>
                                </div>
								<div class="row" ng-repeat="x in getformdetailsdata">
									<div class='col-sm-4'>
										<label>{{x.question}}</label>
                                    </div>
									<div class="col-sm-8">
										<input type='text' class='form-control' ng-model='x.answer' />
									</div>
								</div>
							</form>
						</div>
                        <div class="modal-footer">
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-lg-offset-6 col-lg-4">
                                        <input type='button' class='btn btn-primary' value='submit' ng-click='editdatamaster()'>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-offset-6 col-md-3 col-xs-6'>
                    <div class='icon-addon addon-lg'>
                        <input type='search' ng-model='search' class='form-control input-sm w-lg inline m-r' placeholder='Search'>
                        <label for='search' class='glyphicon glyphicon-search' rel='tooltip' title='search'></label>
                    </div>
                </div>
                <div class=" col-md-3 col-xs-6">
                    <button style='border:none;background:white;color:#512e90;' ng-disabled='currentPage == 0' class='glyphicon glyphicon-chevron-left' ng-click='currentPage=currentPage-1'></button><b>  {{currentPage+1}} / {{numberOfPages()}} </b>
                    <input type='number' min='1' max='{{maxpage}}' ng-change='checkcurrpage(myValue)' style='width:35%' ng-model='myValue'>
                    <button style='border:none;background:white;color:#512e90' class='glyphicon glyphicon-chevron-right' ng-disabled='currentPage >= listdatamasterdata.length/pageSize - 1' ng-click='currentPage=currentPage+1'></button>
                </div>
            </div>
            <div class='row'>
                <div class='table-responsive'>
                    <table style='font-size:14px;' class='table table-striped table-bordered'>
                        <thead style="background-color:#512e90">
                            <th style='text-align:center'>
                                <a href='#' style='text-decoration:none;color:white' ng-click="sortType = 'dataid'; sortReverse = !sortReverse"> <b>Data</b> <span ng-show="sortType= 'dataid' && !sortReverse" style='font-size:10px;' class='glyphicon glyphicon-triangle-bottom'></span> <span ng-show="sortType = 'dataid' && sortReverse" style='font-size:10px' class='glyphicon glyphicon-triangle-top'></span> </a>
                            </th>
                            <th style='text-align:center'>
                                <a href='#' style='text-decoration:none;color:white' ng-click="sortType = 'name'; sortReverse = !sortReverse"> <b>Name</b> <span ng-show="sortType= 'name' && !sortReverse" style='font-size:10px;' class='glyphicon glyphicon-triangle-bottom'></span> <span ng-show="sortType = 'name' && sortReverse" style='font-size:10px' class='glyphicon glyphicon-triangle-top'></span> </a>
                            </th>
                            <th style='text-align:center'>
                                <a href='#' style='text-decoration:none;color:white' ng-click="sortType = 'address'; sortReverse = !sortReverse"> <b>Address</b> <span ng-show="sortType= 'address' && !sortReverse" style='font-size:10px;' class='glyphicon glyphicon-triangle-bottom'></span> <span ng-show="sortType = 'address' && sortReverse" style='font-size:10px' class='glyphicon glyphicon-triangle-top'></span> </a>
                            </th>
                            <th style='text-align:center'>
                                <a href='#' style='text-decoration:none;color:white' ng-click="sortType = 'mobileno1'; sortReverse = !sortReverse"> <b>Mobile No. 1</b> <span ng-show="sortType= 'mobileno1' && !sortReverse" style='font-size:10px;' class='glyphicon glyphicon-triangle-bottom'></span> <span ng-show="sortType = 'mobileno1' && sortReverse" style='font-size:10px' class='glyphicon glyphicon-triangle-top'></span> </a>
                            </th>
                            <th style='text-align:center'>
                                <a href='#' style='text-decoration:none;color:white' ng-click="sortType = 'mobileno2'; sortReverse = !sortReverse"> <b>Mobile No. 2</b> <span ng-show="sortType= 'mobileno2' && !sortReverse" style='font-size:10px;' class='glyphicon glyphicon-triangle-bottom'></span> <span ng-show="sortType = 'mobileno2' && sortReverse" style='font-size:10px' class='glyphicon glyphicon-triangle-top'></span> </a>
                            </th>
                            <th style='text-align:center'>
                                <a href='#' style='text-decoration:none;color:white' ng-click="sortType = 'emailid1'; sortReverse = !sortReverse"> <b>Email 1</b> <span ng-show="sortType= 'emailid1' && !sortReverse" style='font-size:10px;' class='glyphicon glyphicon-triangle-bottom'></span> <span ng-show="sortType = 'emailid1' && sortReverse" style='font-size:10px' class='glyphicon glyphicon-triangle-top'></span> </a>
                            </th>
                            <th style='text-align:center'>
                                <a href='#' style='text-decoration:none;color:white' ng-click="sortType = 'emailid2'; sortReverse = !sortReverse"> <b>Email 2</b> <span ng-show="sortType= 'emailid2' && !sortReverse" style='font-size:10px;' class='glyphicon glyphicon-triangle-bottom'></span> <span ng-show="sortType = 'emailid2' && sortReverse" style='font-size:10px' class='glyphicon glyphicon-triangle-top'></span> </a>
                            </th>
                            <th style='text-align:center'>
                                <a href='#' style='text-decoration:none;color:white' ng-click="sortType = 'fieldexecutiveid'; sortReverse = !sortReverse"> <b>Field Executive</b> <span ng-show="sortType= 'fieldexecutiveid' && !sortReverse" style='font-size:10px;' class='glyphicon glyphicon-triangle-bottom'></span> <span ng-show="sortType = 'fieldexecutiveid' && sortReverse" style='font-size:10px' class='glyphicon glyphicon-triangle-top'></span> </a>
                            </th>
                            <th style='text-align:center'>
                                <a href='#' style='text-decoration:none;color:white' ng-click="sortType = 'source'; sortReverse = !sortReverse"> <b>Source</b> <span ng-show="sortType= 'source' && !sortReverse" style='font-size:10px;' class='glyphicon glyphicon-triangle-bottom'></span> <span ng-show="sortType = 'source' && sortReverse" style='font-size:10px' class='glyphicon glyphicon-triangle-top'></span> </a>
                            </th>
                            <th style='text-align:center;'><b style='color:white'>Action</b></th>
                        </thead>
                        <tbody ng-init='gettelecallingdata()'>
                            <tr ng-repeat='datamaster in telecallingdata |filter:search | startFrom:currentPage*pageSize | limitTo:pageSize  | orderBy:sortType:sortReverse'>
                                <td style='text-align:center;'>{{datamaster.dataid }}</td>
                                <td style='text-align:center;'>{{datamaster.name }}</td>
                                <td style='text-align:center;'>{{datamaster.address }}</td>
                                <td style='text-align:center;'>{{datamaster.mobileno1 }}</td>
                                <td style='text-align:center;'>{{datamaster.mobileno2 }}</td>
                                <td style='text-align:center;'>{{datamaster.emailid1 }}</td>
                                <td style='text-align:center;'>{{datamaster.emailid2 }}</td>
                                <td style='text-align:center;'>{{datamaster.fieldexecutiveid }}</td>
                                <td style='text-align:center;'>{{datamaster.source }}</td>
                                <td style='text-align:center;'><a href='' ng-click='getdatamaster(datamaster.dataid)' data-toggle='modal' data-target='#myModalEdit'>Edit</a> | <a href='#' ng-click='deletedatamaster(datamaster.dataid)'>Delete</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class='col-md-12' ng-show='filteredItems == 0'>
                    <div class='col-md-12'>
                        <h4>No Data found</h4>						
					</div>
                </div>
            </div>
            <div id='footer' style="background-color:white;font-size:20px">&#169;2016 DEEPTRACK DATA SYSTEMS PVT LTD. All Rights Reserved</div>
        </div>
    </div>
</body>

</html>